<h1>News</h1>

<form [formGroup]="form" (ngSubmit)="getNews()">
  <table>
    <tr>
      Country: <select name="country" formControlName="country" (change)="getSource()">
        <option *ngFor="let c of countries" value="{{c}}">{{c}}</option>
      </select>
    </tr>
    <tr>
      Source: <select name="source" formControlName="source">
        <option *ngFor="let s of sources" value="{{s.id}}">{{s.name}}</option>
      </select>
    </tr>
    <tr>
      <button type="submit">Read News</button>
    </tr>
  </table>
</form>

<hr>

<div *ngIf="articles.length > 0">
  <h2>Results</h2>

  <div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Content</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articles">
          <td>{{a.title}}</td>
          <td>{{a.description}}</td>
          <td>{{a.content}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
